########## CI Dependencies ##########
# Sigma tooling
sigma-cli==3.0.3

# YAML linter
yamllint==1.38.0

# Microsoft Sentinel backend
pySigma-backend-kusto==1.0.1

# CrowdStrike backend
pySigma-backend-crowdstrike==3.0.0